* {
    font-family: roboto;
}

:root {
    --color-1 : #233143;
    --color-2 : white;
    --color-3 : #F1F8FE;
}

body {
    padding-left: 15px;
    padding-right: 15px;
}

.container-header {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: row;
    display: flex; 
    font-size: 18px;
    align-content: center;
    justify-content: center;
    color: var(--color-1)
    
}

.header-item {
    padding: 15px 20px;
    text-align: center;
    width: calc(100%-1px);
    height: calc(100%-1px);
    border: 1px solid var(--color-2);
}

.header-item-logo {
    padding-top: 15px;
    text-align: left;
    font-size: 20px;
    margin-right: 100px;
}

.header-item-bars {
    padding-top: 15px;
    text-align: center;
    font-size: 20px;
    display: none;
}

.header-item-bars-list {
    text-align: left;
    list-style: none;
    background: var(--color-1);
    color: var(--color-3);
    padding-left: 0px;
    border-radius: 5px;
    display: none;
}

.menu {
    text-align: right;
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}

.header-item-bars-list li {
    padding: 5px;
    border: 1px solid var(--color-1);
    border-radius: 5px;
}

.header-item-bars-list li:hover {
    background: var(--color-3);
    color: var(--color-1);
    text-align: center;
}

.container-header-item-bars-list {
    list-style: none;
    margin-top: 0px;
}


.header-item:hover {
    border-color: var(--color-1);
    border-radius: 5px;
}

.header-item-my-account:hover {
    border-color: var(--color-1);
    border-radius: 5px;
    background: var(--color-1);
    color: var(--color-2);
}

.container-middle-content-1 {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
    height: auto;
    background: var(--color-3);
}

.middle-content-1-content {
    font-size: 18px;
    color: var(--color-1);
}

p {
    padding-top: 20px;
}

.middle-content-1-title-3 {
    padding-bottom: 24px;
}

.middle-content-1-img {
    width: fit-content;
}

.img-1 {
    width: 486px;
    height: 483px;
}

.container-button {
    padding-top: 50px;
    vertical-align: middle;
}

.button {
    border: 1px solid var(--color-1);
    width: fit-content;
    padding: 20px;
    border-radius: 50px;
    background: var(--color-1);
    color: white !important;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.1);
}

.container-title {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    margin-top: 100px;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-1);
}

.container-details-imgs {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.container-details-title-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-details-title-imgs::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    border: 1px solid var(--color-1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    content: "\f061";
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-1);
    color: var(--color-2);
}

.container-details-title-imgs:last-child::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    border: 1px solid var(--color-1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    content: "\f00c";
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-1);
    color: var(--color-2);
}

.details-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.details-imgs:hover {
    transform: scale(1.1);
}

.container-section-2 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    background: var(--color-3);
    margin-left: 150px;
    margin-right: 150px;
}

.item-section-2 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-2-imgs {
    border: 1px solid white;
}

.item-section-2:hover .section-2-imgs {
    border: 1px solid var(--color-1);
    border-color: var(--color-1);
    transform: scale(1.1);
}

.item-section-2:hover .button-item-section-2 {
    display: block;
}

.button-item-section-2 {
    position: relative;
    bottom: 180px;
    left: 10px;
    border: 1px solid var(--color-1);
    width: fit-content;
    padding: 20px;
    border-radius: 50px;
    background: var(--color-1);
    color: white !important;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: none;
    text-transform: uppercase;
}

.section-3-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    color: var(--color-1);
}

.container-footer div {
    padding-bottom: 50px;
    background: var(--color-3);
}

@media all and (max-width: 1049px) { 
    .container-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .header-item-bars {
        display: block!important;
        margin-right: 0px;
        margin-left: 0px!important;
    }

    .header-item {
        display: none;
    }

    .container-middle-content-1 {
        width: 100%;
        flex-direction: column;
        margin-left: 0px!important;
        margin-right: 0px;
        align-items: center;

    }

    .container-details-imgs {
        width: 100%;
        flex-direction: column;
        margin-left: 0px!important;
    }

    .container-footer {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        margin-left: 0px!important;
    }

    .menu:hover .header-item-bars-list {
        display: block;
        z-index: 10;
        position: absolute;
    }

    .container-details-title-imgs::after {
        content: "\f063";
    }

    .container-section-2 {
        flex-direction: column;
    }
}

@media all and (max-width: 576px) { 
    .container-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .header-item-bars {
        display: block!important;
    }

    .header-item {
        display: none;
    }

    .container-middle-content-1 {
        width: 100%;
        flex-direction: column;
        margin-left: 0px!important;
        align-items: center;

    }

    .container-details-imgs {
        width: 100%;
        flex-direction: column;
    }

    .container-footer {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }

    .menu:hover .header-item-bars-list {
        display: block;
        z-index: 10;
        position: absolute;
    }

    .container-details-title-imgs::after {
        content: "\f063";
    }

    .container-section-2 {
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .middle-content-1-img {
        overflow: hidden;
    }

}